<h1 class="app-main-title">IpInfoTest</h1>
{# Uncomment this to see how translations work: <h1 class="app-main-title">{{ appName }}</h1> #}

{# DO NOT DELETE FOLLOWING LINE, OR `php hubleto` WILL NOT GENERATE CODE HERE #}
{# @hubleto-cli:buttons #}

<div class="grid grid-cols-2 gap-2">
  <div class="card card-blue">
    <div class="card-header">
      Tvoja IP adresa je:
      {{ viewParams.ip }}
    </div>
    <div class="card-body p-8">
      <button id="link" class="btn p-2">Ziskaj ip info</button>
    </div>
    <div class="card-footer"></div>
  </div>

  <div class="card card-blue">
    <div class="card-header">
      Informácie o tvojej IP:
    </div>
    <div class="card-body p-8">
      <table>
        <thead>
          <tr>
            <th class="w-48" style="text-align:left;">key</th>
            <th style="text-align:left">value</th>
          </tr>
        </thead>
        <tbody id="ipinfo">

        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button id="insert" class="btn p-2">Pridaj ip informácie do oblúbených</button>
    </div>
  </div>
</div>

<div class="mt-4 card grid">
  <div class="card card-green">
    <div class="card-header">
      Oblubene Ip adresy:
    </div>
    <div class="card-body p-8">
      <table style="width: 100%; border: 1px solid black; border-collapse: collapse">
        <thead>
          <tr>
            <th class="p-1" style="border: 1px solid black">id</th>
            <th class="p-1" style="border: 1px solid black">status</th>
            <th class="p-1" style="border: 1px solid black">continent</th>
            <th class="p-1" style="border: 1px solid black">country</th>
            <th class="p-1" style="border: 1px solid black">country_code</th>
            <th class="p-1" style="border: 1px solid black">region_name</th>
            <th class="p-1" style="border: 1px solid black">city</th>
            <th class="p-1" style="border: 1px solid black">zip</th>
            <th class="p-1" style="border: 1px solid black">lat</th>
            <th class="p-1" style="border: 1px solid black">lon</th>
            <th class="p-1" style="border: 1px solid black">timezone</th>
            <th class="p-1" style="border: 1px solid black">currency</th>
            <th class="p-1" style="border: 1px solid black">isp</th>
            <th class="p-1" style="border: 1px solid black">org</th>
            <th class="p-1" style="border: 1px solid black">as</th>
            <th class="p-1" style="border: 1px solid black">reverse</th>
            <th class="p-1" style="border: 1px solid black">mobile</th>
            <th class="p-1" style="border: 1px solid black">proxy</th>
            <th class="p-1" style="border: 1px solid black">hosting</th>
            <th class="p-1" style="border: 1px solid black">ip</th>
            <th class="p-1" style="border: 1px solid black">cached</th>
          </tr>
        </thead>
        <tbody id="ipinfo">
          {% for ip in viewParams.data %}
          {{'<tr>'}}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.id, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.status, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.continent, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.country, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.country_code, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.region_name, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.city, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.zip, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.lat, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.lon, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.timezone, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.currency, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.isp, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.org, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.as, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.reverse, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.mobile, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.proxy, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.hosting, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.ip, '</td>']|join|raw }}
            {{ ['<td class="p-1" style="border: 1px solid black;">', ip.cached, '</td>']|join|raw }}
            {{'</tr>'}}

          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const link = document.getElementById("link");
    const ipinfo = document.getElementById("ipinfo");

    link.addEventListener("click", async () => {
      try {
        const response = await fetch('https://api.techniknews.net/ipgeo/{{ viewParams.ip }}');
        const obj = await response.json();

        ipinfo.innerHTML = '';

        for (let key in obj) {
          ipinfo.innerHTML += `
          <tr>
            <td>${key}</td>
            <td>${obj[key]}</td>
          </tr>`;
        }

        const res = await fetch('/api/insert-ip-info', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(obj)
        });

        const result = await res.json();
        console.log('Uložené do DB:', result);

      } catch (e) {
        console.error('Chyba pri získavaní alebo ukladaní IP info:', e);
      }
    });
  });
</script>